{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MYB</title>
  </head>
  <body>
    <h1>Welcome to MYB!</h1>

    {% if location.id is not None %}
        <form action="{% url 'mybapp:location' location.id %}" method="post">
    {% else %}
        <form action="{% url 'mybapp:location_list_on' %}" method="post">
    {% endif %}
        {% csrf_token %}

    <form action="{% url 'mybapp:location_list_on' %}" method="post">
      {% csrf_token %}
      <p>Where's your current miner?</p>
      <fieldset>
          <label for="city">city: </label>
          <input id="city" type="text" name="city" value="{{ location.city }}">
      </fieldset>

      {% if location.id is not None %}
          <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
      {% else %}
          <input type="submit" value="Create" />
      {% endif %}
    </form>
  </body>
</html>