{% load static %}

{% block content %}

    <h3>Current city</h3>
    <h3> city: {{ location.city }}</h3>

    {% comment %} <ol>
    {% for location in all_locations %}
        <li>
            rig: {{ location.name }}
        </li>
    {% endfor %}
    </ol> {% endcomment %}

    <section>
        <form action="{% url 'mybapp:location' location.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
        <button>Fire!</button>
        </form>

        <form action="{% url 'mybapp:location' location.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section>
    
{% endblock %}