{% load static %}

{% block content %}

    <h3>Current city</h3>
    <h3> {{ location.city }}</h3>
    <section>
        <form action="{% url 'mybapp:location' location.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
        <button>Remove!</button>
        </form>

        <form action="{% url 'mybapp:location' location.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section>

    <ul>
    <p>Rigs in this location<p/>
    {% for rig in rigs %}
        <li>
            {{ rig.name }}
        </li>
    {% endfor %}
    </ul>

    
{% endblock %}