{% extends 'shared/base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mine Your Business</title>
  </head>
  <body>
    <h1>locations</h1>
        <button><a href="{% url 'mybapp:location_form' %}">Add Location</a></button>
    <ul>
    {% for location in all_locations %}
        <li>
            {% comment %} {{ location.city }} {% endcomment %}
            <a href="{% url 'mybapp:location' location.id %}">{{ location.city }}<a/>
        </li>
    {% endfor %}
    </ul>
  </body>
</html>
{% endblock %}