{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" c
    ontent="width=device-width, 
    initial-scale=1, 
    shrink-to-fit=no">

    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'styles/onboarding-1.css' %}" />

    <title>MYB</title>
  </head>
  <body>
  <div class="card-loc">
    <center><h1 class="display-3">Lets make your first Rig!</h1></center>

    {% if rig.id is not None %}
        <form action="{% url 'mybapp:rig' rig.id %}" method="post">
    {% else %}
        <form action="{% url 'mybapp:rig_list_on' %}" method="post">
    {% endif %}
        {% csrf_token %}

    <center><form action="{% url 'mybapp:rig_list_on' %}" method="post">
      {% csrf_token %}
      <fieldset class="display-4">
          <label for="location">location: </label>
          <button class="btn btn-light btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <select 
          id="location" 
          type="text" 
          name="location">
                {% for location in all_locations %}
                    <option {% if location.id == rig.location_id %}selected{% endif %} value="{{ location.id }}">
                    {{ location.city }}</option>
                {% endfor %}
          </select>
          </button>
          <br>
          <button class="btn-warning btn-lg"><a href='http://localhost:8000/onboarding/form'>Create a Location</a></button>
      </fieldset>
      <fieldset>
          <label for="name" class="display-4">name: </label>
          <input id="name" type="text" class="form-control form-control-lg city-input" name="name" value="{{ rig.name }}">
      </fieldset>
      <br>

      {% if rig.id is not None %}
          <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
      {% else %}
          <button class="btn-warning btn-lg"><input type="submit" value="Create" /></button>
      {% endif %}
    </form></center>
  </body>
  </div>
</html>