{% extends 'shared/base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'styles/form.css' %}" />

    <title>MYB</title>
  </head>
  <body>
    <center><h1>Ticket Form</h1><center>

    {% if ticket.id is not None %}
        <form action="{% url 'mybapp:ticket' ticket.id %}" method="post">
    {% else %}
        <form action="{% url 'mybapp:ticket_list' %}" method="post">
    {% endif %}
        {% csrf_token %}

    <div class="form-container">
    <center><form action="{% url 'mybapp:ticket_list' %}" method="post">
      {% csrf_token %}

      <fieldset>
          <label for="title">title: </label>
          <input id="title" type="text" name="title" value="{{ ticket.title }}">
      </fieldset>

      <fieldset>
          <label for="comments">description: </label>
          <input id="comments" type="text" name="comments" value="{{ ticket.comments }}">
      </fieldset>

      <fieldset>
          <label for="created_at">Date: </label>
          <input id="created_at" type="date" name="created_at" value="{{ ticket.created_at }}">
      </fieldset>

      <fieldset>
          <label for="urgent">Urgent?: </label>
          <input id="urgent" type="checkbox" name="urgent" {% if ticket.urgent %} checked {% endif %}>
      </fieldset>
        <br>
      {% if ticket.id != null %}
      <fieldset>
          <label for="completed">Completed?: </label>
          <input id="completed" type="checkbox" name="completed" {% if ticket.completed %} checked {% endif %}>
      </fieldset>
        <br>
      {% endif %}
      <div class="form-group">
      <fieldset>
          <label for="rig exampleFormControlSelect1">rig: </label>
          <button 
          class="btn btn-light btn-lg dropdown-toggle" 
          type="button" 
          data-toggle="dropdown" 
          aria-haspopup="true" 
          aria-expanded="false">
            <select 
            {% comment %} class="form-control"  {% endcomment %}
            id="rig exampleFormControlSelect1" 
            type="text" 
            name="rig">
                    {% for rig in all_rigs %}
                        <option {% if rig.id == ticket.rig_id %}selected{% endif %} value="{{ rig.id }}">
                        {{ rig.name }}</option>
                    {% endfor %}
            </select>
          </button>
      </fieldset>
      </div>
      
      <div class="form-group">
      <fieldset>
          <label for="issue exampleFormControlSelect1">issue: </label>
          <button 
          class="btn btn-light btn-lg dropdown-toggle" 
          type="button" 
          data-toggle="dropdown" 
          aria-haspopup="true" 
          aria-expanded="false">
            <select 
            {% comment %} class="form-control"  {% endcomment %}
            id="issue exampleFormControlSelect1" 
            type="text" 
            name="issue">
                    {% for issue in all_issues %}
                        <option {% if issue.id == ticket.issue_id %}selected{% endif %} value="{{ issue.id }}">
                        {{ issue.cat }}</option>
                    {% endfor %}
            </select>
          </button>
      </fieldset>
      </div>

      {% if ticket.id is not None %}
          <input type="hidden" name="actual_method" value="PUT">
            <center><button class="btn-warning btn-lg"><input type="submit" value="Update" /></button></center>
      {% else %}
          <center><button class="btn-warning btn-lg"><input class="text-white" type="submit" value="Create" /></button></center>
      {% endif %}
    </form></center>
    </div>
  </body>
</html>
{% endblock %}