{% extends 'shared/base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mine Your Business</title>
  </head>
  <body>
    <h1>Tickets</h1>
    <button><a href="{% url 'mybapp:ticket_form' %}">Add Ticket</a></button>
    <ul>
    {% for ticket in all_tickets %}
        <li class=''>
            <a href="{% url 'mybapp:ticket' ticket.id %}">{{ ticket.name }}: {{ ticket.title }}<a/>
            <br>
            {{ticket.cat}}
            <br>
                {% if ticket.urgent is 1 %}
                <p>URGENT!</p>
                {% endif %}
            <br>
            Description: {{ticket.comments}}
        </li>
    {% endfor %}
    </ul>
  </body>
</html>
{% endblock %}