{% extends 'shared/base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mine Your Business</title>
  </head>
  <body>
    <br>
    <br>
    <center><img class="logo" src="../../static/img/slide-8.svg" width="50%"></img></center>

    {% for profile in current_profile %}
    <center>
    <div>
    <h3>Welcome, {{ profile.username }}. What would you like to do?</h3>
        {% comment %} <button><a href="{% url 'mybapp:profile_form' %}">Add Location</a></button> {% endcomment %}
            <br>
    <div>
            <button class="btn-warning btn-lg"><a class="text-white" href="{% url 'mybapp:profile' profile.id %}">View details<a/></button>
            <br>
            <br>
            <button class="btn-warning btn-lg"><a class="text-white" href="{% url 'mybapp:logout' %}">Logout<a/></button>
            {% comment %} {{ profile.username }}  {% endcomment %}
            {% comment %} <br>
            {{ profile.email }} 
            <br>
            {{ profile.city }} {% endcomment %}
    {% endfor %}
    </div>
    </div></center>
  </body>
</html>
{% endblock %}