{% extends 'shared/base.html' %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MYB</title>

    <link rel="stylesheet" href="{% static 'styles/form.css' %}" />
  </head>
  <body>
    <center><h1>Rig Form</h1></center>

    {% if rig.id is not None %}
        <form action="{% url 'mybapp:rig' rig.id %}" method="post">
    {% else %}
        <form action="{% url 'mybapp:rig_list' %}" method="post">
    {% endif %}
        {% csrf_token %}

    <center><form action="{% url 'mybapp:rig_list' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="location">location: </label>
          <br>
          <button class="btn btn-light btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <select 
            id="location" 
            type="text" 
            name="location">
                {% for location in all_locations %}
                    <option {% if location.id == rig.location_id %}selected{% endif %} value="{{ location.id }}">
                    {{ location.city }}</option>
                {% endfor %}
            </select>
          </button>
          <br>
          <br>
          <center><button class="btn-warning btn-md">
            <a class="text-white" href='http://localhost:8000/location/form'>Create a Location</a>
          </center></button>
      </fieldset>
      <fieldset>
          <label for="name">name: </label>
          <input class="form-control form-control-lg city-input" id="name" type="text" name="name" value="{{ rig.name }}">
      </fieldset>
      <br>

      {% if rig.id is not None %}
          <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
      {% else %}
        <button class="btn-warning btn-md">
          <input class="text-white" type="submit" value="Create" />
        </button>
      {% endif %}
    </form></center>
  </body>
</html>

{% endblock %}