{% extends 'shared/base.html' %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mine Your Business</title>
  </head>
  <body>
    <h1>Rigs</h1>
        <button><a href="{% url 'mybapp:rig_form' %}">Add Rig</a></button>
    <ol>
    {% for rig in all_rigs %}
        <li>
            <a href="{% url 'mybapp:rig' rig.id %}">{{ rig.name }}<a/>
            {% comment %} Rig: {{ rig.name }} {% endcomment %}
            <br>
            Location: {{rig.city}}
        </li>
    {% endfor %}
    </ol>
  </body>
</html>

{% endblock %}