{% extends 'shared/base.html' %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mine Your Business</title>
  </head>
  <center><img class="logo" src="../../static/img/slide-6.svg" width="30%"></img></center>
  <body>
    <center><h1>Rigs</h1></center>
        <center><button class="btn btn-warning"><a class="text-white" href="{% url 'mybapp:rig_form' %}">Add Rig</a></button></center>
    {% comment %} <ol> {% endcomment %}
    <br>
    
    {% for rig in all_rigs %}
        <div>
          {% comment %} <h5 class="card-header p-3 mb-2 bg-secondary text-white">{{ ticket.title }}</h5> {% endcomment %}
            <h5 class="card-header p-3 mb-2 bg-secondary text-white"><a class="text-white" href="{% url 'mybapp:rig' rig.id %}">{{ rig.name }}<a/></h5>
            {% comment %} Rig: {{ rig.name }} {% endcomment %}
            {% comment %} <br> {% endcomment %}
            Location: {{rig.city}}
            <br>
            <br>
        </div>
    {% endfor %}
    {% comment %} </ol> {% endcomment %}
  </body>
</html>

{% endblock %}